# Dependencies
node_modules

# Environment variables
.env

# Testing
coverage

# Build outputs
dist
build

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Temporary files
tmp
temp
